# GIT Ignore file for the SSB-CONSUM-UP project

# Recursively keep directory structure
!**/.git*

# Default ignored files and directories
*.*~
*.fasl
.env

# From build (recursive)
/bin/**
/man/**

# From demo
/virtdb
